<h1>About Us</h1>
<p>We love the Internet! Our nostalgia for the early days of in-home Internet service offerings knows no bounds. We've searched far and wide for items from back when the virtual world had a physical presence in our mailboxes and finding its way into our hearts. The excitement of tearing open that free mailer, the sound of connecting via dial-up, the joy of making connections with like-minded users far and wide for the very first time - it's all here! Re-live the memories with us and own a piece of Internet history.</p>
